.statusChangerButton {
    cursor: pointer;
}

.hidden {
    opacity: 0;
}

.taskTableRow:hover {
    cursor: pointer;
}

.hasHoverControls:hover .hidden {
    opacity: 100;
}

.taskListItem {
    border: 1px solid transparent;
}

.taskListItem:hover {
    cursor: pointer;
}

.bulkEditButton {
    &:disabled,
    &[data-disabled] {
        background-color: transparent;
    }
}

.dashboardTasklistItem {
    border-top: 1px solid var(--mantine-color-gray-3);
}

.dashboardTasklistItem:hover {
    background-color: var(--mantine-color-gray-1);
}

.dashboardTasklistItem:nth-child(odd) {
    background-color: var(--mantine-color-gray-0);
}

.dashboardTasklistItem:nth-child(odd):hover {
    background-color: var(--mantine-color-gray-1);
}