.withSeparators a:not(:first-child)::before {
  content: '/';
  margin: 0 0.5rem;
}

.contextNavLink {
    cursor: pointer;
}

.contextNavLink:hover {
    background-color: var(--mantine-color-gray-0);
}


.active {
    background-color: var(--mantine-primary-color-light);
}